body{
  margin: 0;
  background-color: #fff;
  color: #eee;
  font-family: Poppins;
  font-size: 12px;
}
.slick-slide > div {
  margin: 0 10px;
}
.slick-list{
  height: 60px;
}
.slick-prev:before {
  color: black !important;
  font-size: 40px !important;
}
.slick-next:before{
    color: black !important;
    font-size: 40px !important;
}
.slick-prev {
    left: -43px !important
}
.slick-next {
    right: -23px !important;
}
